@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&display=swap');

// Colors

$base : #1abc9c;
$dark : #16a085;
$black : #000;
$white : #fff;
$gray : #f6f6f6;


$base_font : 'Montserrat', sans-serif;
